---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-14" />
            </a>
        ) : (
            <a class="font-sans text-3xl leading-tight font-semibold text-theme-foreground sm:text-5xl" href="/">
                {siteConfig.title}
            </a>
        )
    }
    {siteConfig.subtitle && <p class="text-base leading-snug mt-2 font-sans text-theme-muted">{siteConfig.subtitle}</p>}
</header>
